<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head th:replace="/fragments/head :: head"></head>

<body>
  <nav th:replace="/fragments/navbar :: nav"></nav>
    <form class="chat-container border rounded p-4" th:action="@{/eliminado/__${usuario.id}__}" method="POST">
      <h3 class="chat-title mb-4">Eliminar Usuario</h3>
      <div class="mb-3">
        <label for="userId" class="form-label"><strong>ID del Usuario</strong></label>
        <input type="text" readonly class="form-control" id="userId" name="id" th:value="${usuario.id}">
      </div>

      <div class="mb-3">
        <label for="userName" class="form-label"><strong>Nombre del Usuario</strong></label>
        <input type="text" class="form-control" readonly id="userName" name="nombre" th:value="${usuario.nombre}">
      </div>

      <div class="mb-3">
        <label for="userEmail" class="form-label"><strong>Email del Usuario</strong></label>
        <input type="text" class="form-control" readonly id="userEmail" name="email" th:value="${usuario.email}">
      </div>

      <div class="d-grid gap-2">
        <button type="submit" class="btn btn-danger mb-2">Eliminar</button>
        <button type="button" class="btn btn-primary" onclick="window.history.back();">Volver</button>
      </div>
    </form>
  <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
    <div class="card-body">
      <h5 class="card-title">Error </h5>
      <p class="card-text" th:text="${error}"></p>
    </div>
  </div>
  <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
    <div class="card-body">
      <h5 class="card-title">El producto Se elimino Correctamente!</h5>
      <p class="card-text" th:text="${exito}"></p>
    </div>
  </div>
  <footer th:replace="/fragments/footer :: footer"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>

</html>