<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
  <nav th:replace="/fragments/navbar :: nav"></nav>
   <div class="card mx-auto" style="max-width: 400px;">
    <div class="card-body">
      <form class="form-signin" th:action="@{/evento/registro/}" method="POST" enctype="multipart/form-data">
        <div class="text-center mb-4">
          <h5 class="card-title">Cargar Evento</h5>
        </div>
        
        <div class="mb-3">
          <label for="nombreEvento" class="form-label">Nombre del Evento</label>
          <input type="text" class="form-control" id="nombreEvento" name="nombreEvento" placeholder="Nombre del evento">
        </div>
        
        <div class="mb-3">
          <input type="file" class="form-control" name="archivo">
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Guardar</button>
      </form>
    </div>
    
    <div class="card-footer text-center">
      <a th:href="@{/}" class="btn btn-secondary">Volver</a>
    </div>
   </div>
  
    <div th:if="${exito}!=null" class="card text-white bg-success mb-3 mt-3 mensajeExito">
      <div class="card-body">
        <h5 class="card-title">Exito!</h5>
        <p class="card-text" th:text="${exito}"></p>
      </div>
    </div>
    <div th:if="${error}!=null" class="card text-white bg-danger mb-3 mensajeError">
      <div class="card-body">
        <h5 class="card-title">Error 👎</h5>
        <p class="card-text" th:text="${error}"></p>
      </div>
    </div>
    
    <footer th:replace="/fragments/footer :: footer"></footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
</body>
</html>